body {
    margin: 0;
    font-family: Raleway;
}

header,
main,
footer {
    padding: 0 50px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

article {
    background-color: white;
}

.background-blue {
    background-color: #0065fc;
}

.background-grey {
    background-color: #f2f2f2;
}

.background-lightBlue {
    background-color: #deebff;
}

.header-subtitle {
    margin: 0;
}

.header-title {
    font-size: x-large;
    margin-bottom: 0;
}

.hidden {
    display: none !important;
}

.text-align-right {
    text-align: right;
}

.text-blue {
    color: #0065fc;
}

.text-bold {
    font-weight: bold;
}

.text-grey {
    color: #f2f2f2;
}

.text-lightBlue {
    color: #deebff;
}

.text-small {
    font-size: 0.8em;
    font-weight: lighter;
}
