header,
main {
    margin: 0 3.125rem;
}

footer {
    padding: 0 3.125rem;
}

.NavContainer {
    display: grid;
    width: 100%;
}

.Logo {
    display: inline-block;
    margin-top: 2.75rem;
    margin-left: 0.1875rem;
    grid-column: 1;
}

.TabContainer {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    padding-left: 1.125rem;
    padding-right: 0.5rem;
}

.TabButton {
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    padding-top: 1.375rem;
}

.TabButton[data-selected] {
    color: var(--primary);
    border-color: var(--primary);
    border-width: 3px;
    padding-top: 1.375rem;
}

.TabButton:hover,
.TabButton:focus {
    box-shadow: 0 0.5em 0.5em -0.6em var(--primary-alt);
    transform: translateY(-2px);
}

.SubscribeButton {
    color: var(--primary);
    transition: 0.25s;
    padding-top: 1.375rem;
    padding-right: 0.75rem;
    font-weight: bold;
    color: var(--primary);
}

.SubscribeButton:hover,
.SubscribeButton:focus {
    animation: pulse 1s;
    border-bottom-style: solid;
    border-color: var(--primary);
    color: var(--primary);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--primary-alt);
    }
}

.TitleSection {
    margin: 2rem 0.25rem 1rem;
}

.Title {
    font-size: 1.365rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
}

.Subtitle {
    margin: 0;
    font-weight: light;
}

.SearchBarContainer {
    height: 4rem;
}

.SearchBar {
    padding-left: 0.3125rem;
    position: absolute;
    width: calc(100% - 6.5rem);
}

.LocationButton {
    position: relative;
    background-color: var(--secondary);
    border-color: var(--secondary);
    height: 3.125rem;
    width: 3.125rem;
    border-style: solid;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-width: 2px;
}

.SearchField {
    position: relative;
    border-color: var(--secondary);
    border-style: solid;
    border-right-style: none;
    left: -0.25rem;
    top: 1px;
    height: 3.125rem;
    width: 100%;
    max-width: min(240px, 60%);
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1.125rem;
}

.SearchButton {
    color: var(--secondary);
    font-weight: bold;
    font-size: 1.125rem;
    height: 3rem;
    padding: 0.9rem;
    padding-right: 1.125rem;
    background-color: var(--primary);
    left: -1rem;
    top: 1px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
}

.FilterContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 0.125rem;
    margin-bottom: 0.75rem;
}

.FilterListLabel {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 3rem;
}

.FilterList {
    display: inline-flex;
    flex-wrap: wrap;
}

.Filter {
    font-size: 1.125rem;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondary);
    border-radius: 3rem;
    margin-right: 1.375rem;
    padding-right: 1.375rem;
    word-break: keep-all;
    white-space: nowrap;
}

.FilterIcon {
    position: relative;
    left: -1px;
    line-height: 2.75rem !important;
    text-align: center;
    color: var(--primary);
    width: 2.75rem;
    border-color: var(--primary-light);
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    background-color: var(--primary-light);
    margin-right: 0.5rem;
}

@media screen and (max-width: 767px) {
    .NavContainer {
        grid-template: 2fr 1fr / repeat(12, 1fr);
    }

    .Logo {
        grid-column: 1;
    }

    .TabContainer {
        grid-row: 2;
        grid-column: 1 / span 12;
    }

    .TabButton[data-selected] {
        border-bottom-style: solid;
    }

    .SubscribeButton {
        grid-column: 12;
        color: var(--primary);
        transition: 0.25s;
        padding-top: 1.375rem;
        padding-right: 0.75rem;
        font-weight: bold;
        color: var(--primary);
    }

    .SearchButtonText {
        display: none;
    }

    .FilterContainer {
        flex-direction: column;
    }

    .FilterListLabel {
        margin: 0 2rem;
        line-height: 3rem;
    }

    .FilterList {
        justify-content: flex-start;
    }

    .Filter {
        margin: 0;
    }
}

@media screen and (min-width: 768px) {
    .NavContainer {
        grid-template: 1fr / repeat(12, 1fr);
    }

    .TabContainer {
        grid-column: 9 / span 3;
    }

    .TabButton[data-selected] {
        border-top-style: solid;
    }

    .SearchIcon {
        display: none !important;
    }

    .FilterListLabel {
        margin: 1.125rem 2rem 1.125rem 0.75rem;
    }

    .FilterList {
        justify-content: space-evenly;
    }

    .Filter {
        margin: 1.25rem 0;
    }
}
